* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphik Web", sans-serif;
    color: white;
}
/* Sports */

.sports {
    background-image: url(assets/sports-background-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: static;
    background-position: top center;
}
.sports-outer-div {
    position: static;
    height: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 190px;
    padding-top: 34px;
}

.sports-inner-div {
    margin-top: 0px;
}

.sports-tab {
    padding-bottom: 31px;
    text-align: center;
}

.sports-tab-button-active {
    font-weight: bold;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: 0.25px;
    cursor: pointer;
    margin-left: 13px;
    margin-right: 13px;
    display: inline-block;
    background: none;
    border: none;
    border-radius: 0;
    text-align: center;
}

.sports-tab-button-active:hover {
    color:#C8C8C8;
}

.sports-tab-active {
    height: 7px;
    margin-top: 13px;
    display: block;
    background: #fff;
    position: absolute;
    cursor: pointer;
}

.sports-tab-button-passive {
    color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: 0.25px;
    cursor: pointer;
    margin-right: 13px;
    margin-left: 13px;
    display: inline-block;
    background: none;
    border: none;
    border-radius: 0;
}

.sports-tab-button-passive:hover {
    color:rgba(200,200,200,0.4);
}

.sports-big-text {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.2;
    text-align: center;
    margin-top: 80px;
}

.sports-middle-text {
    max-width: 550px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.36;
    padding-left: 20px;
    padding-right: 20px;
}

.sports-channel-logos {
    width: 350px;
    height: 100%;
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sports-channel-logos > div {
    background-image: url(assets/channel-logo-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10.5px;
    margin-left: 10.5px;
    overflow: hidden;
}

.sports-channel-logos img {
    width: 44px;
}

.sports-faded-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.46;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    text-align: center;
}

.sports-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
    .sports {
        background-image: url(assets/sports-background-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: static;
        background-position: 0 80%;
    }
    .sports-outer-div {
        position: static;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 190px;
        padding-top: 34px;
    }
    .sports-inner-div {
        margin-top: 0px;
    }

    .sports-tab {
        text-align: center;
    }

    .sports-big-text {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.2;
        text-align: center;
        margin-top: 40px;
        padding-top: 60px;
    }
    
    .sports-middle-text {
        max-width: 550px;
        margin-top: 4px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 1.36;
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: 0;
    }
}

@media (min-width: 1024px) {
    .sports {
        background-image: url(assets/sports-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: static;
        background-position: 0% 0%;
    }
    .sports-outer-div {
        position: static;
        max-width: 786px;
        max-height: 702px;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 190px;
        padding-top: 60px;
    }
    .sports-inner-div {
        margin-top: 100px;
    }

    .sports-tab {
        text-align: left;
    }
    
    .sports-tab-button-active {
        font-weight: bold;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.125;
        letter-spacing: 0.25px;
        cursor: pointer;
        margin-right: 37px;
        margin-left: 0px;
        display: inline-block;
        background: none;
        border: none;
        border-radius: 0;
        text-align: center;
    }
    
    .sports-tab-active {
        height: 5px;
        margin-top: 15px;
    }
    
    .sports-tab-button-passive {
        color: rgba(255, 255, 255, 0.4);
        font-weight: bold;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.125;
        letter-spacing: 0.25px;
        cursor: pointer;
        margin-right: 37px;
        margin-left: 0px;
        display: inline-block;
        background: none;
        border: none;
        border-radius: 0;
    }
    
    .sports-big-text {
        font-size: 48px;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: -0.5;
        text-align: left;
        margin-top: 25px;
        max-width: 650px;
        padding: 0px;
    }
    
    .sports-middle-text {
        max-width: 450px;
        margin-top: 18px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        line-height: 1.36;
        letter-spacing: 0;
        padding: 0;
    }

    .sports-channel-logos {
        width: 350px;
        height: 100%;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    
    .sports-channel-logos > div {
        background-image: url(assets/channel-logo-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        height: 55px;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 0px;
        overflow: hidden;
    }

    .sports-faded-text {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.46;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        text-align: left;
    }
}

@media (min-width: 1280px) {
    .sports {
        background-image: url(assets/sports-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: static;
        background-position: 0% 0%;
    }
    .sports-outer-div {
        position: static;
        max-width: 976px;
        max-height: 811px;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 190px;
        padding-top: 60px;
    }

    .sports-inner-div {
        margin-top: 140px;
    }
    .sports-middle-text {
        max-width: 500px;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        line-height: 1.32;
    }
}

@media (min-width: 1600px) {
    .sports {
        background-image: url(assets/sports-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: static;
        background-position: 0% 0%;
    }

    .sports-outer-div {
        position: static;
        max-width: 1236px;
        max-height: 870px;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 190px;
        padding-top: 60px;
    }

    .sports-inner-div {
        margin-top: 160px;
    }
    
    .sports-middle-text {
        max-width: 550px;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        line-height: 1.32;
        letter-spacing: 0;
    }
}