* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ulas part start */
.header {
    text-align: center;
    color: white;


}
h4 {
    color: #00ed82;
}
h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.32;
    letter-spacing: 0;

}

.main-div {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.container-div {
    padding: 0 20px 60px px;
    position: relative;
    z-index: 2;
    max-width: 786px;
    margin: 0 auto;

}
.movies {
    width: 100%;
    object-fit: contain;
}
.movies-div {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 25px;
    text-align: left;
    color: white;
}
@media (min-width: 1280px) {
    .main-div {
        justify-content: center;
        grid-template-columns: repeat(4, 295px);
        grid-template-rows: auto;
    }
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog-title {
    font-family: "Graphik Web", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.24;
    letter-spacing: 0;
    text-align: left;
    text-shadow: 2px 2px 5px rgb(178, 176, 176);
}
.catalog-desc {
    font-family: "Graphik Web", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 0;
    text-align: left;

    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.library {
    padding: 20px;
}
/* ulas part end */

/* nour's part start*/
body {
    background-color: #08080a;
    font-family: "Graphik Web", sans-serif;
}

.plans {
    background-color: #0b0c0f;
    color: #fff;
}

.plans-container {
    max-width: 900px;
    margin: 0 auto;
}

.plans-container .header {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;
}

.plans-upper-section {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(200, 200, 200, 0.4);
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);

}
.plan-prices-buttons{
    flex: 1 0 60%;

}
.plan-switcher-container
{
    flex: 1 0 40%;
}
.plan-switch .left-label,
.plan-switch .right-label{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.plan-switch .left-label .logo{
    margin-top: 18px;
    text-align: center;

}
.plan-switch .left-label .logo img{
    width: 35px;
    object-fit: cover;
}
.plans .header-title {
    font-family: "Graphik Web", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.5px;
    margin: 0 0 16px;

}

.plans .header-description {
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.32;
    text-transform: none;
}

.plan .trial{
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.plan .title{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;

}
.plan.with-adds {
    border-right: 1px solid rgba(200, 200, 200, 0.4);
}

.plan-switcher-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.plan-switch{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #424957;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;

}

.slider:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1ce783;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1ce783;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}

.plan-prices-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    border-top: 1px solid rgba(200, 200, 200, 0.4);

}

.plan {
    display: flex;
    flex-direction: column;
    min-height: 189px;
    padding: 25px 0.5rem 31px;
    width: 100%;
    text-align: center;
}

.most-popular {
    text-align: center;
    height: 33px;
}


.most-popular span {
    background-color: #1ce783;
    color: #16181d;
    padding: 10.5px 27px;
    border-radius: 100px;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
    text-transform: uppercase;
}

.plan .trial {
    margin-top: 11px;
    margin-bottom: 6px;
    line-height: 1;
    color: #BEC0C2;;
}

.plan .title {
    margin-bottom: 13px;
}

.price-button {
    min-width: 100px;
    padding: 0 24px;
    height: 48px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border-radius: 4px;
    width: 100%;
    color: #040405;
    border-width: 0px;
    border-style: solid;
    background-color: #ffffff;
    cursor: pointer;
    transition: .3s;
}
.price-button:hover {
    background-color: #ffffffCC;
}

.plan-feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
}

.plan-feature-item .col-1 {
    text-align: center;
    width: 100%;
    gap: 10px;
    flex: 1 0 40%;

}


.plan-feature-item .col-1 span,
.plan-feature-item .col-2 span{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    padding: 20px 0;
}
.plan-feature-item .col-1 img{
    display: inline-block;
    vertical-align: middle;
    padding-left: 6px;
}
.plan-feature-item .col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1 0 60%;

}
.plan-feature-item .col-2 .with-add-feature span,
.plan-feature-item .col-2 .without-add-feature span {
    padding: 17px 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.plan-feature-item .col-2 .without-add-feature ,
.plan-feature-item .col-2 .with-add-feature {
    width: 100%;
}


.separator{
    display: none;
    width: 1px;
    height: 20px;
    background: #e8eaed;
}
.disclaimer{
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 3rem;
}

.disclaimer  p{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.46;

}
.show-more{
    text-align: center;
    padding-top:1.5rem;
    padding-bottom: 1.5rem ;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
}
@media (min-width: 768px)  {
    .separator{
        display: block;

    }
    .most-popular span{
        padding: 7px 15px 5px;
        font-size: 9px;
    }
}


@media  (min-width: 1024px) {
    .plans-upper-section {
        flex-direction: row;
        justify-content: space-between;

    }

    .plan-prices-buttons {
        border-top: none;
        border-bottom: none;

        width: 60%;
    }

    .plans-container .header {
        width: 100%;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .plan.with-adds {
        border-right: none;
        background-color: #272c34;
    }

    .plan .trial{
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }
    .plan .title{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.32;

    }
    .plan-feature-item {
        flex-direction: row;
        align-items: center;
    }
    .plan-feature-item .col-1 {
        text-align: left;
        width: 100%;

    }
    .plan-feature-item .col-1 span,
    .plan-feature-item .col-2 span{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0;
        padding: 20px 0;

    }
    .separator{
        display: none;
    }
    .plan.with-adds,
    .with-add-feature{
        background-color: #272c34;
    }
    .disclaimer{
        text-align: left;
    }
}
@media (min-width: 1280px) {
    .plans-container {
        max-width: 976px;
    }
    .most-popular span{
        padding: 10.5px 27px;
    }
    .plan.with-adds,
    .with-add-feature{
        background-color: inherit;
    }
}
@media (min-width: 1600px) {
    .plans-container {
        max-width: 1236px;
    }
}
/* nour's part end*/

/* ola's part start*/


.footer-all{
  background-color: rgb(232,234,237);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Graphik light;
  letter-spacing: 0.02rem;
  padding-left: 140px;
  padding-right: 140px;
}

.footer1{
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer2{
  font-size: 12px;
  border-top: 2px solid #d9dce2;
  padding-top: 32px;
  padding-bottom: 32px;
}

.h3-footer{
  font-size: 14px;
  color: #272c34;
  padding: 8px 0px;
}

div > a,p {
  text-decoration: none;
  color: #586174;
  font-family: Graphik light;
  padding: 0px 32px 8px 0px;
}

.social-icons{
  margin: 0px 40px 32px 0px;
}

.outerbox{
  padding: 0px 8px 23px 8px;
  flex-grow: 1;
}

.browse{
  display: flex;
}

.box{
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}

.links-bottom{
  display: flex;
  flex-wrap: wrap;
  line-height: 24px;
}

.ads{
  display: flex;
  align-items: center;
}

img{
  padding-right: 6px;
}

.arrow{
  display: none;
}

@media (max-width:1023px){
  .footer-all{
    padding-left: 40px;
    padding-right: 40px;
  }
  .arrow{
    display: none;
  }
}

@media (max-width: 767px){
  .footer-all{
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer1{
    display: flex;
    flex-direction: column;
  }
  .outerbox{
    padding-bottom: 0px;
    border-bottom: 1px solid #d9dce2;
  }
  .h3-footer{
    padding: 32px 0;
    margin: 0;
  }
  .box{
    display: none;
  }
  .arrow{
    display:inline;
    margin-left: auto;
  }
  .after-media{
    cursor: pointer;
    display:flex;
    align-items: center;
  }
}

/* ola's part end