.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

div {
    display: block;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.Billboard {
    background-color: #0b0c0f;
    font-family: "Grafik Web", "Graphik", Arial, 
    Helvetica, sans-serif;
    padding: 1px;
}

.Billboard_border {
    border: #000;
}
 
.Billboard_border {
    margin: 19px 10px;
    border: 4px solid #000;
    box-sizing: border-box;
    border-radius: 16px;
}

.Billboard_container {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 20px;
    background-image: none;
}

.Billboard_eyebrow {
    color: #1ce783;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.Billboard_headline {
    margin: 16px 3% 0;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.2px;
    line-height: 1.2;
    text-transform: none;
}

.Billboard_subheadline {
    margin: 12px 5% 0;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.36;
    text-transform: none;
    padding-top: 8px;
    padding-bottom: 8px
}

.Billboard_disclaimer {
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.46;
    text-transform: none;
    color: rgba(255,255,255,0.6);
}

button {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-radius: 0;
}

.Billboard_modalLink {
    text-decoration: underline;
    opacity: 0.8;
    color: #fff;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 16px auto 0 auto;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 1;
    text-transform: uppercase;
}



.Billboard_downArrow {
    background: url(https://www.hulu.com/static/hitch/static/icons/dropdown_arrow.svg) 
    no-repeat center;
    margin: 0 auto;
    height: 16px;
    margin-top: 55px;
    cursor: pointer;
    width: 18px;
    padding: 0;
    border: none;
    text-align: center;
    justify-content: center;
    display: flex;
    animation: move-up-and-down 1s infinite alternate;
}

@keyframes move-up-and-down {
    0% { 
        transform:  translateY(0); 
    }
    100% { 
        transform:  translateY(-10px); 
    }
}


@media (min-width: 768px) {
    .Billboard_border {
        margin: 40px 18px;
    }
    .Billboard_container {
        padding: 95px 0 50px;
        background-image: none;
    }
    .Billboard_headline {
        font-family: 'Graphik Web', 'Graphik', sans-serif;
        font-size: 48px;
        letter-spacing: -.5px;
        line-height: 1.25;
        text-transform: none;
        margin: 0 auto;
    }
    .Billboard_subheadline {
        margin: 18px 10% 0;
    }
    .Billboard_disclaimer {
        margin: 18px 10% 0;
        margin: 0 5%;
    }
    .Billboard_modalLink {
        font-family: 'Graphik Web', 'Graphik', sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .6px;
        line-height: 1;
        text-transform: uppercase;
    }
    .Billboard_downArrow {
        margin-top: 50px;
    }


}


